<!doctype html>
<html>
	<head>

	</head>

	<body>
		<form method='POST' action='/main'>
		<table>
			<p>Use this form to generate a workout</p>
			<p>What game did you play?</p>
			<input type="radio" name="game" value="overwatch" checked>Overwatch<br>
			<input type="radio" name="game" value="rocket league">Rocket League<br>
			<tr><td>Result(w) or (l):</td><td><input name='Result' type='TEXT' width='50'></td></tr>
			<tr><td>Gold:</td><td><input name='Gold' type='TEXT' width='50'></td></tr>
			<tr><td>Silver:</td><td><input name='Silver' type='TEXT' width='50'></td></tr>
			<tr><td>Bronze:</td><td><input name='Bronze' type='TEXT' width='50'></td></tr>
			<tr><td>Kills:</td><td><input name='Kills' type='TEXT' width='50'></td></tr>
			<tr><td>Deaths:</td><td><input name='Deaths' type='TEXT' width='50'></td></tr>
			<tr><td>Healing:</td><td><input name='Healing' type='TEXT' width='50'></td></tr>
		</table>
		</form>
	</body>
</html>